# This workflow builds and tests the project on pushes and pull requests to the main branch.
# It runs only H2 database tests as a fast fail-fast mechanism to save CI cycles.
# Other database-specific workflows run after this workflow succeeds.
# The workflow result is reported in the Actions tab of the repository.
name: Main CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version: [ 11, 17, 21, 22 ]

    steps:

      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 22 for build
        uses: actions/setup-java@v4
        with:
          java-version: 22
          distribution: 'temurin'
          cache: maven

      - name: Build and Install (ojp-grpc-commons) with JDK 22
        run: mvn clean install -pl ojp-grpc-commons -am -DskipTests -Dgpg.skip=true

      - name: Test (ojp-grpc-commons) with JDK 22
        run: mvn test -pl ojp-grpc-commons -Dgpg.skip=true

      - name: Build (ojp-server) with JDK 22
        run: mvn clean install -pl ojp-server -am -DskipTests -Dgpg.skip=true

      - name: Test and Run (ojp-server)
        run: |
          nohup java -jar ojp-server/target/ojp-server-0.2.1-snapshot-shaded.jar > /tmp/ojp-server.log 2>&1 &
          echo $! > /tmp/ojp-server.pid

      - name: Wait for ojp-server to start
        run: sleep 10

      - name: Set up JDK ${{ matrix.java-version }} for ojp-jdbc-driver
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: maven

      - name: Build (ojp-jdbc-driver) with JDK ${{ matrix.java-version }}
        run: mvn clean install -pl ojp-jdbc-driver -am -DskipTests -Dgpg.skip=true

      - name: Test (ojp-jdbc-driver)
        run: mvn test -pl ojp-jdbc-driver -Dgpg.skip=true -DenableH2Tests=true

      - name: Show ojp-server.log
        if: always()  # ensures it runs even if previous steps fail
        run: cat /tmp/ojp-server.log || echo "/tmp/ojp-server.log not found"

  notify-integration:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger OJP Framework Integration Repo Workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.INTEGRATION_REPO_PAT }}
          repository: Open-J-Proxy/ojp-framework-integration
          event-type: ojp-updated
